
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body {
    margin: 0;
}

header {
    height: 35vh;
    background-color: rgb(95, 192, 151);
}


.logo {
    height: 90%;
}

.logo img {
    height: 100%;
    display: block;
    margin: auto;
}

nav {
    z-index: 1;
    display: flex block;
    align-items: center;
    justify-content: space-around;
    
    height: 10vh;
    position: sticky;
    top: 0;

    background-color: rgb(95, 192, 151);
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: rgb(220, 220, 220);
}

footer {
    display: flex;
    /* flex-direction: row-reverse; */

    color: white;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;

    height: 50vh;
    padding: 10px;
    border-top: 3px solid rgb(79, 163, 128);
    background-color: rgb(59, 87, 78);
}

footer div {
    /* float: right; */
    height: 100%;
    width: 19%;
    padding-left: 1%;
}


footer img {
    height: 16%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    display: inline-block;
}

footer li {
    list-style: none;
}