
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

h1 {
    text-align: center;
    color: rgb(60, 101, 64);
    font-family: 'Roboto Slab', serif;

}

.texto {
    font-family: "Roboto", sans-serif;
}

.about-us {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.about-us .texto {
    float: left;
    width: 75vh;
}

.info {
    margin: 10px;
    border: 3px solid rgb(114, 186, 143);
    border-radius: 10px;
}

.info h2 {
    color: rgb(63, 125, 104);
    font-family: 'Roboto Slab', sans-serif;
}

.container {
    background-color: rgb(127, 255, 182);
    padding: 10px;
    padding-bottom: 50px;
}

.ubicacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    padding-bottom: 20px;
    border-bottom: 2px solid rgb(63, 125, 104);
}

.direccion {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    margin-bottom: 20px;
}

.direccion img {
    height: 100%;
}

.direccion p {
    color: rgb(63, 125, 104);
    font-weight: bold;
    font-size: large;
}

.mapa {
    width: 40vw;
}

a {
    text-decoration: none;
}

.whatsapp {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 70vh;
    height: 80px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    /* text-decoration: none; */
    background-color: rgb(55, 200, 84);
}

.whatsapp h1 {
    color: white;
}

.whatsapp img {
    height: 100%;
}

