
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

h1 {
    text-align: center;
    color: rgb(60, 101, 64);
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;

}

.texto {
    font-family: "Roboto", sans-serif;
}

.about-us {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.about-us .texto {
    float: left;
    width: 75vh;
}

.especialidades {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgb(172, 254, 207);
}

.trabajos {
    display: flex;
    justify-content: center;
}

.bloque {
    font-size: small;
    margin: 10px;

    border: 3px solid rgb(60, 101, 64);
    border-radius: 10px;
    padding: 5px;
}
.bloque:hover {
    cursor: pointer;
}

.bloque h2 {
    color: rgb(60, 101, 64);
    font-family: 'Roboto Slab', sans-serif;
}

.desc {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
    border-top: 2px solid rgb(60, 101, 64);
    border-bottom: 2px solid rgb(60, 101, 64);
    color: white;


}

.desc div {
    width: 50%;
    height: 100%;
    margin: 10px;
}

.desc:nth-child(even) {
    background-color: rgb(172, 254, 207);
    flex-direction: row-reverse;
    color: black;
    border: 0;
}

.desc h2 {
    font-family: 'Roboto Slab', sans-serif;
}

.desc img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
    border-radius: 10px;
    border: 2px solid rgb(60, 101, 64);
}

.fondo-desc {
    margin-top: 30px;
    background-color: rgb(60, 101, 64);
}


.container {
    background-color: rgb(127, 255, 182);
    padding: 10px;
    padding-bottom: 50px;
}

.ubicacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    padding-bottom: 20px;
    border-bottom: 2px solid rgb(63, 125, 104);
}

.direccion {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    margin-bottom: 20px;
}

.direccion img {
    height: 100%;
}

.direccion p {
    color: rgb(63, 125, 104);
    font-weight: bold;
    font-size: large;
}

.mapa {
    margin: auto;
    width: 40vw;
    height: 300px;
    border: 2px solid rgb(63, 125, 104);
}

.gallery {
    width: 45vw;
    height: 450px;
}

.gallery div {
    display: flex;
    height: 50%;
}

.gallery img {
    width: 50%;
    margin: 10px;
    /* border: 2px solid rgb(60, 101, 64); */
    box-shadow: 5px 5px rgb(60, 101, 64);
    border-radius: 10px;
}

.gallery img:hover {
    transition: 1s;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.clock {
    display: block;
    margin: auto;
    height: 80px;
    padding-bottom: 10px;
}

table {
    margin: auto;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(63, 125, 104);

}

th {
    padding: 15px;
}

.contact-us {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    background-color: rgb(63, 125, 104);
    width: auto;
    height: auto;
}

.contact-us h1 {
    color: white;
}

.contactos {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 2rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(127, 255, 182);
}

.contactos img {
    height:130%;
    margin-right: 5px;
}


.whatsapp {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 60vw;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    /* text-decoration: none; */
    background-color: rgb(55, 200, 84);
}

.whatsapp:hover {
    transition: 1s;
    transform: scale(1.05);
}

.whatsapp:active {
    transition: 0s;
    transform: scale(0.95);
}

.whatsapp h1 {
    font-size: 2rem;
    color: white;
}

.whatsapp img {
    height: 100%;
}

